* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html{
        scroll-behavior: smooth;
    }
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
            margin: 20px;
            padding: 20px ;
            background-color: rgba(248, 173, 173, 0.295);
            line-height: 1.5;
        }

        h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}
h2 {
    color: rgb(255, 0, 0);
}
.green-text{
    color: green;
}

    pre{
        background-color: rgb(255, 255, 255);
        border-left: 3px solid #ff0000;
        padding: 10px 0 5px 0;
        font-size: 16px;
        white-space: pre-wrap;
        border-radius: 17px;
    }
    a{
        text-decoration: none;
        
    }
    a:hover{
        text-decoration: underline;
        color: rgb(187, 7, 7);
    }
    .text-center {
        text-align: center;
    } */
body {
  font-family: "Playpen Sans Thai", sans-serif;
  background-color: rgba(248, 173, 173, 0.295);
  color: black;
  line-height: 1.6;
  width: 100%;
    margin: 0;
    padding: 0;
}
.site-header {
  background: linear-gradient(90deg, rgb(87, 0, 0), rgb(207, 22, 22));
  align-items: center;
  text-align: center;
  padding: 25px;
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.card {
    display: grid;
    grid-template-columns: (2, 1fr  );
    background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  border-bottom: 1px solid rgb(255, 0, 0);
  margin: 20px;
}
a{
        text-decoration: none;
        color:blue;
        
    }
    a:hover{
        text-decoration: underline;
        color: rgb(187, 7, 7);
    }
.box-heading {
  border: 1px solid rgb(248, 186, 186);
  overflow: hidden;
  background-color: rgb(240, 164, 164);
  padding: 10px 20px;
}
.box-body {
  padding: 20px 25px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(248, 186, 186);
}
.footer {
  background-color: rgb(175, 10, 10);
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  font-size: 14px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
}