* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary-color */
  --primary-color: rgb(228, 35, 77);
  --primary-dack-color: rgb(153, 8, 8);
  --secondary-color: rgb(170, 40, 72);
  /* text-color */
  --mute-text-color: rgb(155, 152, 152);
  --nav-text-color: rgb(36, 34, 34);
  --light-text-color: white;
  /*background*/
  --header-bg-color: rgba(255, 207, 207, 0.89);
  --light-bg-color: white;
  --footer-bg-color: rgb(34, 33, 33);
  --hover-bg-color: rgb(235, 105, 105);
  --btn-bg-gray:rgb(216, 214, 214);
  /*shadow*/
  --header-shadow: 0 4px 10px rgb(177, 182, 182);
  --card-shdow: 0 3px 10px rgb(66, 68, 68);
  --border-color: rgb(209, 204, 204);
  /* color */
  --text-blue-color: rgb(8, 8, 226);
  --text-purple-color: rgb(139, 0, 139);
  --text-green-color: rgb(0, 100, 0);
  --text-orange-color: rgb(168, 95, 4);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.75;
  background-color: linear-gradient(
    145deg,
    rgb(248, 245, 245),
    rgb(231, 100, 100)
  );
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* =============header=========== */
.header {
  box-shadow: var(--header-shadow);
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
}
.header-content {
  text-align: center;
  padding-block: 1rem; /* 1rem=16px */
}
.header-title {
  color: var(--primary-color);
  font-size: clamp(2rem, 5vw, 3rem);
}
.header-subtitle {
  color: var(--mute-text-color);
}

/* =============nav=========== */
.catagory-nav{
  text-align: center;
  padding-block: 2rem;
}
.catagory-nav label{
  color: var(--nav-text-color);
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shdow);
  padding: 0.65rem 1.2rem;
  margin: 0.75rem;

  border-radius: 50px;
  cursor: pointer;

  transition:
    transform 0.2,
    box-shadow 0.3,
    2s;
  display: inline-block;
  user-select: none;
}
.catagory-nav label:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 14px gray;
  background-color: var(--hover-bg-color);
  color: var(--light-text-color);
}
.filter-radio{
  /* ซ่อนปุ่ม/radio */
  position: absolute;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  clip-path: inset(50%);
}
#filter-all:checked ~ .catagory-nav label[for="filter-all"],
#filter-dog:checked ~ .catagory-nav label[for="filter-dog"],
#filter-cat:checked ~ .catagory-nav label[for="filter-cat"],
#filter-bird:checked ~ .catagory-nav label[for="filter-bird"], 
#filter-fish:checked ~ .catagory-nav label[for="filter-fish"],
#filter-small-pet:checked ~ .catagory-nav label[for="filter-small-pet"]
{
  background-color: var(--primary-color);
  color: var(--light-text-color);
}
/* hide/show catagory */
.catagory-title {
  display: none;
}
#filter-all:checked ~ main .title-all,
#filter-dog:checked ~ main .title-dog,
#filter-cat:checked ~ main .title-cat,
#filter-bird:checked ~ main .title-bird,
#filter-fish:checked ~ main .title-fish,
#filter-small-pet:checked ~ main .title-small-pet
{
  display: inline;
}

#filter-dog:checked ~ main .pet-card,
#filter-cat:checked ~ main .pet-card,
#filter-bird:checked ~ main .pet-card,
#filter-fish:checked ~ main .pet-card,
#filter-small-pet:checked ~ main .pet-card
{
  display: none;
}

#filter-dog:checked ~ main .pet-dog,
#filter-cat:checked ~ main .pet-cat,
#filter-bird:checked ~ main .pet-bird,
#filter-fish:checked ~ main .pet-fish,
#filter-small-pet:checked ~ main .pet-small
{
  display: block;
}

/* nav {
  text-align: center;
  padding-block: 2rem;
}
nav a {
  text-decoration: none;
  color: var(--nav-text-color);
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shdow);
  padding: 0.65rem 1.2rem;
  margin: 0.75rem;

  border-radius: 50px;
  cursor: pointer;

  transition:
    transform 0.2,
    box-shadow 0.3,
    2s;
  display: inline-block;
  user-select: none;
}
nav a.active {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}
nav a:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px gray;
  background-color: var(--hover-bg-color);
  color: var(--light-text-color);
} */

/* =============main=========== */
.page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.pet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.pet-card {
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shdow);
  border-radius: 0.75rem;
  overflow: hidden;
}
.pet-card:hover {
  transition: transform 0.25s;
  display: inline-block;
  user-select: none;
  transform: translateY(-7px);
  box-shadow: 0 6px 14px gray;
}
.pet-card img {
  height: 16.25rem;
  width: 100%;
  object-fit: cover;
}
.pet-content {
  padding: 1.25rem;
}
.pet-content h2 {
  color: var(--primary-dack-color);
}
.breed {
  color: var(--mute-text-color);
}

/* =============footer=========== */
footer {
  background-color: var(--footer-bg-color);
  padding: 3rem;
  color: var(--light-text-color);
  text-align: center;
  margin-top: 1.5rem;
}

/* ============= info =========== */
.info-section {
  margin-top: 3rem;
  padding: 2rem;
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shdow);
  border-radius: 0.75rem;
}
.info-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}
.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.info-card {
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shdow);
  border-radius: 0.75rem;
  overflow: hidden;
  height: 10rem;
  font-size: 0.875rem;
  padding: 1rem;
}
.info-card:hover {
  transition: transform 0.25s;
  display: inline-block;
  user-select: none;
  transform: translateY(-7px);
  box-shadow: 0 6px 14px gray;
}
.info-card:nth-child(1) {background-color: rgb(115, 208, 245);}
.info-card:nth-child(2) {background-color: rgb(252, 164, 255);}
.info-card:nth-child(3) {background-color: rgb(155, 241, 155);}
.info-card:nth-child(4) {background-color: rgb(238, 198, 124);}

.blue {color: var(--text-blue-color);margin-bottom:10px}
.purple {color: var(--text-purple-color);margin-bottom:10px}
.green {color: var(--text-green-color);margin-bottom:10px}
.orange {color: var(--text-orange-color);margin-bottom:10px}

/* form */
.form-section {
  margin-top: 3rem;
  padding: 2rem;
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shdow);
  border-radius: 0.75rem;
}
.form-section h2{
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}
.form-section p{
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--mute-text-color);
}
.form-section fieldset{
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
}
.form-section fieldset legend{
  color: var(--primary-color);
  padding: 0 0.5rem;
  font-weight: bold;
}
.radio-option{
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
/* .radio-item{} */
.radio-item input{
  accent-color: var(--primary-color);
}
.radio-item label{
  background-color: var(--btn-bg-gray);
  padding: 0.75rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}
.radio-item input:checked + label{
  background-color: var(--primary-color);
  color: var(--light-text-color);
}
